:root {
	--font-family-text: 'PT Sans', sans-serif;

	--font-size-normal: 16px;

	--color-black: hsla(256, 17%, 15%, 1);
	--color-white: hsla(0, 6%, 98%, 1);
	--color-fuchsia: hsl(295, 98%, 47%);
	--color-dark-violet: hsl(285, 65%, 15%);
}
